### STEP 1
- Open & merge json files
- Save them as pandas data frames
- easy going notes about feature eng.

In [ ]:
import pandas as pd
import numpy as np
import json

In [36]:
pwd

'/Users/ucunel/galvanize_uj/capstone'

Following code loads one of the json files to data as a list of dictionaries which containts 500 dictionaries which correspond to 500 savemeoffer data.

In [15]:
with open('data_the_babe/saveme_data/save_me_offer_logs_0.json') as saveme:
    data = json.load(saveme)

The following code will show us what data stands for.

In [16]:
print(type(data),'\n')
print(len(data),'\n')
print(data[0],'\n')
print(type(data[0]),'\n')
print(len(data[0]),'\n')

<class 'list'>

500

{'_id': {'$oid': '58c80b93c1a7ac04b0a08f3b'}, 'offerReason': 'Percentage', 'percentageLeft': 0, 'twentileLeft': 0.0, 'hasEnoughCoin': 1, 'HCost': 4, 'adOption': 0, 'numFails': 2, 'playTime': 19, 'levelMode': 'Casual', 'levelNumber': 163, 'result': 'reject', 'ts': {'$date': {'$numberLong': '1489505171825'}}, 'playerId': '58bac635569af004b035b6cb', 'hcl': {'Casual': 162, 'Ninja': 65}, 'daysSinceInstall': 10.0, 'cohort': {'day': 424.0, 'week': 60.0}, 'sessions': 25.0, 'platform': 'IOS', 'segments': {'IAP': 'false', 'ISG_PBS_Price': 'Low', 'ISG_SaveMe_Max_Percentage': 'Mid', 'ISG_EnergyRefill': 'Low', 'Country': 'SA', 'LanguageCode': 'en'}}

<class 'dict'>

20

Now let us load one of the json files to a dataframe to see every column one by one in another setting.

In [19]:
df = pd.read_json('data_the_babe/saveme_data/save_me_offer_logs_1.json')

In [20]:
df.head(2)

,HCost,_id,adOption,cohort,daysSinceInstall,hasEnoughCoin,hcl,levelMode,levelNumber,numFails,offerReason,percentageLeft,platform,playTime,playerId,result,segments,sessions,ts,twentileLeft
0,4,{'$oid': '58c80e1e569af004b7b702b6'},0,"{'day': 418.0, 'week': 59.0}",16,1,"{'Casual': 242, 'Ninja': 200}",Casual,243,11,Percentage,4,IOS,44,58b280280670c304b0413aed,reject,"{'IAP': 'false', 'ISG_PBS_Price': 'Low', 'ISG_...",59,{'$date': {'$numberLong': '1489505822730'}},0
1,6,{'$oid': '58c80e20569af004b7b70d1b'},0,"{'day': 414.0, 'week': 59.0}",20,1,"{'Casual': 228, 'Ninja': 65}",Casual,229,1,Percentage,6,Android,78,58ad91bac1a7ac04b1d6a55b,reject,"{'IAP': 'false', 'ISG_PBS_Price': 'High', 'ISG...",41,{'$date': {'$numberLong': '1489505824124'}},1

In [21]:
df.columns

Index(['HCost', '_id', 'adOption', 'cohort', 'daysSinceInstall',
       'hasEnoughCoin', 'hcl', 'levelMode', 'levelNumber', 'numFails',
       'offerReason', 'percentageLeft', 'platform', 'playTime', 'playerId',
       'result', 'segments', 'sessions', 'ts', 'twentileLeft'],
      dtype='object')

In [22]:
len(df.columns)

20

Just wana see them vertically, because why not.

In [23]:
for column in df.columns:
    print(f'column:   {column}')
    cal = str(column)
    print(df[cal].head(2))
    print('----------------------------------------')
#     print(df[f'[{column}]'].head())

column:   HCost
0    4
1    6
Name: HCost, dtype: int64
----------------------------------------
column:   _id
0    {'$oid': '58c80e1e569af004b7b702b6'}
1    {'$oid': '58c80e20569af004b7b70d1b'}
Name: _id, dtype: object
----------------------------------------
column:   adOption
0    0
1    0
Name: adOption, dtype: int64
----------------------------------------
column:   cohort
0    {'day': 418.0, 'week': 59.0}
1    {'day': 414.0, 'week': 59.0}
Name: cohort, dtype: object
----------------------------------------
column:   daysSinceInstall
0    16
1    20
Name: daysSinceInstall, dtype: int64
----------------------------------------
column:   hasEnoughCoin
0    1
1    1
Name: hasEnoughCoin, dtype: int64
----------------------------------------
column:   hcl
0    {'Casual': 242, 'Ninja': 200}
1     {'Casual': 228, 'Ninja': 65}
Name: hcl, dtype: object
----------------------------------------
column:   levelMode
0    Casual
1    Casual
Name: levelMode, dtype: object
----------------------------------------
column:   levelNumber
0    243
1    229
Name: levelNumber, dtype: int64
----------------------------------------
column:   numFails
0    11
1     1
Name: numFails, dtype: int64
----------------------------------------
column:   offerReason
0    Percentage
1    Percentage
Name: offerReason, dtype: object
----------------------------------------
column:   percentageLeft
0    4
1    6
Name: percentageLeft, dtype: int64
----------------------------------------
column:   platform
0        IOS
1    Android
Name: platform, dtype: object
----------------------------------------
column:   playTime
0    44
1    78
Name: playTime, dtype: int64
----------------------------------------
column:   playerId
0    58b280280670c304b0413aed
1    58ad91bac1a7ac04b1d6a55b
Name: playerId, dtype: object
----------------------------------------
column:   result
0    reject
1    reject
Name: result, dtype: object
----------------------------------------
column:   segments
0    {'IAP': 'false', 'ISG_PBS_Price': 'Low', 'ISG_...
1    {'IAP': 'false', 'ISG_PBS_Price': 'High', 'ISG...
Name: segments, dtype: object
----------------------------------------
column:   sessions
0    59
1    41
Name: sessions, dtype: int64
----------------------------------------
column:   ts
0    {'$date': {'$numberLong': '1489505822730'}}
1    {'$date': {'$numberLong': '1489505824124'}}
Name: ts, dtype: object
----------------------------------------
column:   twentileLeft
0    0
1    1
Name: twentileLeft, dtype: int64
----------------------------------------

***Feature Engineering Analisis:***  --> expectations from feature engineering phase.
- Looks like we have a lot of object type columns, such as following: _id , cohort , hcl , levelMode , offerReason, percentageLeft , playerId , result , segments , ts
- In addition some columns have dictionaries as data, such as following: ts, segments, hcl , cohort, _id
- ***IMPORTANT REMINDER*** --> You keep your promise about confidentiallity. In other words find a way to hash those  ***playerId*** data 


Alright we have 500 data points per json file which can be converted to a list or a data frame. However 500 datapoints will not be enough for a comprehensive analisis.

Therefore I need to find a way to merge almost 2000 json files which will ultimately saved in a single data frame. (~2000 * 500 many of records).

To begin with I will simply merge 2 json files. Then, my next goal is to write a while or for loop to merge multiple tables.

Also I will create my initial model within 10k data points instead of the whole 1 million datapoints. 

Lets go and merge these files.

***Merging json files within a dataframe***

Strategy_1 Tryout for merging 2 json files -- > load both json files in seperate dataframes and concatinate them.

In [25]:
#reminder, with df = pd.read_json('saveme_data/save_me_offer_logs_0.json') we loaded 0th json file to df.
df_j0 = df
df_j1 = pd.read_json('data_the_babe/saveme_data/save_me_offer_logs_1.json')

In [26]:
frames = [df_j0,df_j1]
concated_first_2 =  pd.concat(frames)

In [27]:
df_j0.shape

(500, 20)

In [28]:
concated_first_2.shape

(1000, 20)

Upon checking both shape and tails of merged data frames and concated_first_2, I confirm that concat was succesful and the first strategy worked well for 2 dfs.


Now let us merge multiple data frames which will let us have 10000 data points. ( 10000 / 500 = 20 json files)

Following code creates an empty list in order to store converted dataframes. Ultimately every dataframe in the list will be concated.

In [73]:
frames_to_concat = []
for i in range(0, 20):  # 1 + 19 data json files
    frames_to_concat.append(pd.read_json(f'saveme_data/save_me_offer_logs_{str(i)}.json'))

df_10k = pd.concat(frames_to_concat)

In [76]:
df_10k.shape

(10000, 20)

***Note:*** At one point remember using dynomodb so you can playwith greater datasets.

In [84]:
df_10k.reset_index().drop('index', axis=1).tail()

,HCost,_id,adOption,cohort,daysSinceInstall,hasEnoughCoin,hcl,levelMode,levelNumber,numFails,offerReason,percentageLeft,platform,playTime,playerId,result,segments,sessions,ts,twentileLeft
9995,5,{'$oid': '58c83a27c1a7ac04b07f389c'},0,"{'day': 433.0, 'week': 61.0}",1.0,0,"{'Casual': 40, 'Ninja': 3}",Ninja,4,1,Percentage,6,IOS,15,58c6978829b38504b5d51c40,reject,"{'IAP': 'false', 'ISG_PBS_Price': 'Normal', 'I...",18,{'$date': {'$numberLong': '1489517095206'}},1
9996,6,{'$oid': '58c83a27569af004b7768190'},0,"{'day': 325.0, 'week': 46.0}",109.0,1,"{'Casual': 158, 'Ninja': 11}",Casual,159,4,Percentage,4,IOS,34,583808ffbb89a50524b0c7da,reject,"{'IAP': 'false', 'ISG_PBS_Price': 'High', 'ISG...",139,{'$date': {'$numberLong': '1489517095543'}},0
9997,5,{'$oid': '58c83a27c1a7ac04b07f47ac'},0,"{'day': 434.0, 'week': 62.0}",0.0,1,{'Casual': 18},Casual,19,1,Percentage,10,IOS,17,58c7de3e0759d804b24702f6,reject,"{'IAP': 'false', 'ISG_PBS_Price': 'Normal', 'I...",3,{'$date': {'$numberLong': '1489517095899'}},2
9998,5,{'$oid': '58c83a2a569af004b7768c13'},0,"{'day': 434.0, 'week': 62.0}",0.0,1,{'Casual': 12},Casual,13,2,Percentage,7,Android,18,58c8376c569af004b76979d6,reject,"{'IAP': 'false', 'ISG_PBS_Price': 'Normal', 'I...",1,{'$date': {'$numberLong': '1489517098049'}},1
9999,5,{'$oid': '58c83a2d0759d804b2f444ae'},0,"{'day': 177.0, 'week': 25.0}",257.0,0,"{'Casual': 109, 'Ninja': 2}",Casual,110,2,LevelTime,14,IOS,39,577546caca13eb049f334d27,reject,"{'IAP': 'false', 'ISG_PBS_Price': 'Normal', 'I...",82,{'$date': {'$numberLong': '1489517101224'}},2

Our dataframe is ready for some feature engineering.

I will simply save this data frame as a csv file so I can reuse it later on.

In [90]:
df_10k.to_csv('data_the_babe/df_10k.csv')

Looks like we have a number of nan rows within columns; cohort, daysSinceInstall, hcl and platform.

However their ratio is really low. Which means we may feel free to drop some of these rows.

In [92]:
df_10k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 499
Data columns (total 20 columns):
HCost               10000 non-null int64
_id                 10000 non-null object
adOption            10000 non-null int64
cohort              9986 non-null object
daysSinceInstall    9986 non-null float64
hasEnoughCoin       10000 non-null int64
hcl                 9942 non-null object
levelMode           10000 non-null object
levelNumber         10000 non-null int64
numFails            10000 non-null int64
offerReason         10000 non-null object
percentageLeft      10000 non-null int64
platform            9978 non-null object
playTime            10000 non-null int64
playerId            10000 non-null object
result              10000 non-null object
segments            10000 non-null object
sessions            10000 non-null int64
ts                  10000 non-null object
twentileLeft        10000 non-null int64
dtypes: float64(1), int64(9), object(10)
memory usage: 1.9+ MB

***Summary***

- Within ipynb file called open_them_up, we loaded json 20 of the ~2000 data json files. 
- Converted json files to pandas data frames with a for loop.
- Concatenated these data frames to create a (10k,20) data frame(to play a little before things get even more fun).
- Highlighted some points to consider about feature engineering
(parse dictionaries , fill or drop nan values, fix object type information, hash user_ids)

The following code creates the dataframe with almost 1 million rows.

In [37]:
frames_to_concat = []
for i in range(0, 1945):  
    frames_to_concat.append(pd.read_json(f'data_the_babe/saveme_data/save_me_offer_logs_{str(i)}.json'))

df_1m = pd.concat(frames_to_concat)

Saves it.

In [38]:
df_1m.to_csv('data_the_babe/df_1m.csv')